@import "tailwindcss";

body {
  background-color: #0a0a0a;
}

@keyframes caret-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

[data-blinking] {
  animation: caret-blink 1s step-end infinite;
}
